# Flutter
.dart_tool/
.packages
build/
*.iml
*.lock

# Android
android/.gradle/
android/app/build/
android/local.properties

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# Web
web/build/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Firebase
google-services.json
*.google-services.json
GoogleService-Info.plist
*.GoogleService-Info.plist
firebase-debug.log
.firebase/

# Environment
.env
.env.local
.env.production

# OS
.DS_Store
Thumbs.db
